h2{ font:400% sans-serif;
    color:yellowgreen;
    text-align: center;

}
body {
  background-image: url('http://bgfons.com/upload/rainbow_texture679.jpg');
  background-size: auto


}
h1{
  font:400% sans-serif;
  color:white;
  text-align: center;

}
